/bin/
/logs/
/GACCore/logs/
/GACCore/bin/
/GACCore/target/
/GACCore/_tempjarfolder/
/GACCore/GACCore-1.0.jar
/GACCore/.checkstyle
/GACCore/.classpath
/GACCore/checkstyle_errors.log
/GACWeb/.checkstyle
/GACWeb/GACWeb*.war
/GACWeb/build/
/GACWeb/WebContent/WEB-INF/lib/GACCore-1.0.jar
/GACWeb/WebContent/WEB-INF/lib/socket-phone-1.0.jar
/GACWeb/WebContent/WEB-INF/lib/GACTheme-1.0.jar
/SocketPhone/target/
